/*===========================
  theme: Blue Sky
============================ */

/* Blue */


a ,
.glyphicon,
.navbar-brand span,
.navbar-custom li a:hover,
.navbar-custom li a.active ,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus ,
#gallery .nav > li > a:hover ,
#gallery .nav > li > a.active,
.light-btn .btn:before,
.light-btn .btn:hover,
.light-btn .btn:focus,
.team span ,
#offers span{color:#3497db;}



.spinner > div ,
.top-bar ,
.navbar-toggle ,
.nav-pills>li>a:hover ,
.nav-pills .nav-link:hover ,
#stats ,
#testimonials ,
#call-to-action,
#offers,
footer ,
.btn:before ,
.social-media a:hover ,
.pricing-tables .pricing-table.highlight-plan .plan-name {background-color: #3497db;}


/* Darker Blue */

#gallery .nav > li.active > a,
a:hover,
a:focus ,
hr ,
.hr ,
.navbar-custom .nav li a:focus,
.slider-pagi__elem ,
.box > .icon > .image,
.accordion-button:not(.collapsed),
.accordion-button:hover,
#gallery .nav > li > a:focus {color: #0E4F7C;}


.hr:before ,
ul.social-list li a:hover ,
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus ,
.nav-pills .nav-link.active, .nav-pills .show>.nav-link,.nav-pills .nav > li > a:hover ,
.btn-primary ,
.btn-primary:hover ,
.btn-primary:focus ,
.box > .icon:hover > .image,
.gallery-thumb .overlay-mask,
.owl-prev:hover, .owl-next:hover ,
.back-to-top i:hover {background-color:#0E4F7C;}

#contact .form-control:focus {box-shadow: 0 4px 0px #0E4F7C;}

.nav-pills> li a.active:after {border-top-color: #0E4F7C;}

